<h1>Rankings</h1>
<p>This is bogus data for a while just to test the layout.</p>

<table class="teams table table-striped table-bordered sortable">
  <tr>
    <th><%= "School" %></th>
    <th><%= "Rating" %></th>
  </tr>
  <% @teams.each do |team| %>
    <tr>
      <td><%= link_to team.school_name, team %></td>
      <td><%= team.rating %></td>
    </tr>
  <% end %>
</table>
