<% provide(:title, "Help") %>
<h1>Help Me!</h1>
<p>
  Maybe, at some point, I'll add some kind of tutorial on this page!
  For now, you can just shoot me an <a href="mailto:zstearman3@gmail.com">email</a>.
</p>
