<div class="center jumbotron">
  <h1>Welcome to Stearman Analytics!</h1>
  
  <h2>
  This is the future home page for the new NCAA Basketball analysis tool, Stearman Analytics!
  Please check back at a later date for additional features.
  </h2>
  
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg" %>
</div>

