<% provide(:title, "Home") %>
<h1>Stearman Analytics</h1>
<p>
  This is the home page for the new NCAA Basketball analysis tool, Stearman Analytics!
  Please enjoy having a look around the application.
</p>
