
body {
  padding-top: 125px;
  background-color: $gray-lighter;
}

@media screen and (min-width: 768px) {
  body {
    padding-top: 100px;
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

