
.jumbotron {
  background: none;
}

body {
  padding-top: 125px;
  background-color: $gray-lighter;
}

@media screen and (min-width: 768px) {
  body {
    padding-top: 100px;
    // this code is to add a background image to the body: should be #ddd or lighter
    // background-image: url("background.png");
    // background-repeat: no-repeat;
    // background-size: 800px 600px;
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

// For tea team#show page

.team-header {
  font-weight: 300;
  word-spacing: 0.1em;
  margin-bottom: 5px;
  strong {
    font-weight: 700;
    word-spacing: 0.1em;
  }
}

.record {
  margin-top: 0px;
}
