footer {
  margin-top: 45px;
  padding-top: 15px;
  color: #777;
  .container {
    margin: 0 0 5px;
    text-align: center;
  }
  .social-icons {
    width: 100%;
    ul{
      text-align: center;
      width: 100%;
      padding-left: 0;
      list-style: none;
      border-bottom: 1px solid $gray-medium-light;
      padding-bottom: 8px;
      margin-bottom: 5px;
      li{
        display: inline;
      }
    }
  }
  img{
    width: 40px;
    height: 40px;
  }
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  nav{
    float: right;
    ul {
      float: right;
      list-style: none;
      li {
        float: left;
        margin-left: 15px;
      }
    }
  }
  .copyright {
    float: left;
    font-size: 1em;
  }
}

@media screen and (min-width: 768px) {
   footer {
     padding-top: 5px;
     border-top: 1px solid $gray-medium-light;
     .social-icons {
       width: 15%;
       ul{
         border-bottom: none;
         margin-bottom: auto;
         padding-bottom: auto;
         img{
           width: 25px;
           height: 25px;
         }
       }
     }
     .copyright {
       clear: both;
       font-size: 1.2em;
     }
   }
}