<% provide(:title, @user.full_name) %>
<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.full_name %>
        </h1>
    </section>
  </aside>
  <aside class="col-md-9 team-dashboard">
    <h1>Team Dashboard</h1>
      <p>This will be where your favorite teams are displayed in the future.</p>
      <ul>
          <% @user.favorites.each do |team| %>
            <li><%= team %></li>
            <% end %>
      </ul>
  </aside>
</div>

