@import "bootstrap-sprockets";
@import "bootstrap";

/******** UNIVERSAL **********/

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.btn {
  color: white;
  background-color: #650000;
  border-color: #650000;
}

.btn:hover {
  color: $gray-lighter;
  background-color: #550000;
  border-color: #550000;
}

.btn:pressed {
  background-color: #450000;
  border-color: #450000;
}

/******** TYPOGRAPHY **********/

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/******** HEADER **********/

.navbar-inverse{
  border-bottom: thick solid #650000;
  
  #logo{
    float: left;
    margin-right: 1em;
    margin-left: -2em;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
  }
}

.body{
  padding-top: 70px;
}