@import "bootstrap-sprockets";
@import "bootstrap";

/******** UNIVERSAL **********/

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.btn {
  background-color: #650000;
  border-color: #650000;
}

.btn:hover {
  background-color: #450000;
  border-color: #450000;
}

/******** TYPOGRAPHY **********/

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/******** HEADER **********/

.navbar-inverse{
  background-color: $gray;
  border-bottom: thick solid #650000;
  .container {
    margin-left: 100px;
    .navbar-right{
      margin-top: 1em;
      margin-right: -5em;
    }
  }
  #logo{
    float: left;
    margin-right: 1em;
    margin-left: -5em;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.body{
  padding-top: 70px;
}