@import "bootstrap-sprockets";
@import "bootstrap";


/******** MIXINS, VARIABLES, ETC. *********/

$gray-medium-light: #eaeaea;
$gray-medium-dark: #393939;
$crimson-dark: #650000;
$crimson-darker: #550000;
$crimson-darkest: #450000;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/******** UNIVERSAL **********/
body {
  padding-top: 125px;
}

@media screen and (min-width: 768px) {
  body {
    padding-top: 60px;
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.btn {
  color: white;
  background-color: $crimson-dark;
  border-color: $crimson-dark;
}

.btn:hover {
  color: $gray-lighter;
  background-color: $crimson-darker;
  border-color: $crimson-darker;
}

.btn:pressed {
  background-color: $crimson-darkest;
  border-color: $crimson-darkest;
}

/******** TYPOGRAPHY **********/

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/******** HEADER **********/

.navbar-inverse{
  text-align: center;
  padding: 15px 0 0 0;
  margin: 0 0 0;
  background-color: $gray-medium-dark;
  .container{
    padding: 0 0 0 0;
  }
  .navbar-nav{
    background-color: $gray-darker;
    margin: 15px 0 0 0;
  }
  ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
    li {
      display: inline-block;
      a {
        font-weight: 650;
        padding: 15px 10px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar-inverse{
    border-bottom: thick solid $crimson-dark;
    background-color: $gray-darker;
    padding: 10px 0 0 0;
    
    #logo{
      float: left;
      margin-right: 1em;
      margin-left: -2em;
      padding-top: 7px;
      padding-bottom: 7px;
      font-size: 1.7em;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: -1px;
      font-weight: bold;
    }
    
    .navbar-nav {
      background: none;
      margin: 10px 0 0 0;
    }
  }
  
  .body{
    padding-top: 70px;
  }
}

/******** FOOTER **********/

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: #777;
  .container {
    margin: 0 0 5px;
    text-align: center;
  }
  img{
    width: 25px;
    height: 25px;
  }
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/******* MISCELLANEOUS *******/

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 50px;
  @include box_sizing;
}