<footer class="footer">
  <!--<%= render 'layouts/social_icons' %>-->
  <!--This is currently commented out becuase I don't really like it.-->
  <small> &copy; 2016 Zach Stearman </small>
  <nav>
    <ul>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>